<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<div th:replace="admin/fragments/head :: head"></div>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="admin/fragments/header :: header"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blank page
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Category</h3>
                    </div>
                    <span th:text="${message}"></span>

                    <form role="form" method="post" th:action="@{/admin/category/save}" th:object="${category}">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="category-id">Category ID</label>
                                <input type="hidden" class="form-control" id="category-id" th:field="*{categoryId}"
                                       placeholder="Enter category name">
                            </div>
                            <div class="form-group">
                                <label for="category-name">Category Name</label>
                                <input type="text" class="form-control" id="category-name" th:field="*{categoryName}"
                                       placeholder="Enter category name">
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <br>
                                <input type="radio" id="show" th:field="*{categoryStatus}" name="status" value="1"
                                       checked/>
                                <label for="show"> Hien</label>
                                <input type="radio" id="hide" th:field="*{categoryStatus}" name="status" value="0"/>
                                <label for="hide"> An</label>

                            </div>


                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary" fdprocessedid="batb8h">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:insert="admin/fragments/footer.html :: footer"></footer>


</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="admin/fragments/scripts.html :: scripts"></div>
</body>
</html>
